.button {
  padding: 4px 8px;
  border: none;
  font-size: 30px;
  text-transform: uppercase;
  background-color: transparent;
  transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}
